<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/02_utility_classes" target="_blank">Target</a>
</p>

<!-- Add utility classes and/or elements as needed to achieve the target appearance. -->

<div class="d-flex">
  <div>
    <span>Inbox</span>
  </div>

  <div class="ms-auto">
    <span class="badge rounded-pill text-bg-danger">42</span>
  </div>
</div>
